{:system
 {:web/server
  {;;:secure-headers                 {:content-security-policy-settings {:object-src "http://localhost:3300/*"}}
   :io.pedestal.http/resource-path "/public"
   :io.pedestal.http/type          :jetty
   :io.pedestal.http/join?         false
   :io.pedestal.http/port          3300
   :io.pedestal.http/host          "localhost"
   :io.pedestal.http/routes        'routes}

  :database {:xtdb/tx-log         "data/dev/tx-log"
             :xtdb/document-store "data/dev/doc-store"
             :xtdb/index-store    "data/dev/index-store"
             :xtdb/module         'xtdb.rocksdb/->kv-store
             :xtdb/sync?          true}

  :logging  {:level     :debug
             :console   true
             :appenders [{:appender       :rolling-file
                          :file           "logs/web-service.log"
                          :rolling-policy {:type        :time-based
                                           :max-history 30
                                           :max-size    5000000 ; bytes
                                           :pattern     ".%d{yyyy-MM-dd}.%i.gz"}}]}}}
